.progress-bar{
    position: relative;
    height: 20px;
    width: 750px;
    border-radius: 50px;
    border: 1px solid #333;
}

.progress-wrapper{
    height: 100%;
    width: 100%;
}

.progress-percent-text{
    height: 100%;
    font-size: 10px;
    vertical-align: center;
}

.progress-filler-early{
    float: left;
    background: green;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    overflow: hidden;
}

.progress-filler-on-time{
    background: blue;
    float: left;
    height: 100%;
    border-radius: 0px;
    font-size: 10px;
    overflow: hidden;
    /* font-size: 10px; */
    /* transition: width .5s ease-in; */
}

.progress-filler-late{
    background: red;
    height: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}